a {
	font-size: 12px;
	color: #818181;
}

a:hover {
	color: #FF6700;
}

#header {
	width: 100%;
	height: 100px;
	background-color: white;
	border-bottom: 2px solid #FF6700;
}

#header-content {
	width: 1226px;
	margin: 0px auto;
	font-size: 12px;
	color: #818181;
}

#content-left {
	height: 48px;
	margin: 26px 0px;
	float: left;
	/*border: 1px solid;*/
}

#content-left span {
	font-family: "Courier new";
	font-size: 24px;
	color: #000;
	display: inline-block;
	margin-right: 20px;
}

#left-l {
	float: left;
}

#left-r {
	float: left;
	margin: 10px 0px 10px 45px;
	/*border: 1px solid;*/
}

#content-right {
	float: right;
	margin: 44px 0px;
}

#content-right>ul>li {
	float: left;
	position: relative;
	padding: 0px 20px 0px 10px;
}

#content-right>ul>li>a {
	padding-right: 20px;
	background: url(../img/cart/name-bg.png) right center no-repeat;
}

#content-right>ul>li>a:hover {
	background: url(../img/cart/name-bghover.png) right center no-repeat;
}

#user-list {
	/*border: 1px solid;*/
	position: absolute;
	top: 20px;
	left: -20px;
	margin: 10px 0px;
	display: none;
	z-index: 3;
	background-color: white;
}

#user-list li {
	/*border: 1px solid;*/
	width: 48px;
	padding: 5px 30px;
}

#user-list li:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

#user-list li:hover a {
	color: #FF6700;
}


/*头部结束*/

#main-content {
	width: 100%;
	background-color: #F5F5F5;
	padding: 50px 0px;
}

#container {
	width: 1226px;
	margin: 0px auto;
}

#cart #tab {
	width: 1226px;
	background-color: white;
}

#tab td {
	height: 80px;
	/*border: 1px solid;*/
	border-bottom: 1px solid #E0E0E0;
}

#tab tr td:nth-child(1) {
	padding-left: 20px;
}


/*设置减号和加号*/

#tab tbody tr td:nth-child(4) input:nth-child(1),
input:nth-child(3) {
	width: 38px;
	height: 38px;
	color: #757575;
	font-size: 20px;
	background-color: white;
	border: 1px solid #E0E0E0;
	outline: none;
}

#tab tbody tr td:nth-child(4) input:nth-child(1):hover,
input:nth-child(3):hover {
	background-color: #E0E0E0;
	cursor: pointer;
}

#tab tbody tr td:nth-child(4) input:nth-child(1) {
	border-right: none;
}

#tab tbody tr td:nth-child(4) input:nth-child(3) {
	border-left: none;
}


/*设置数量文本*/

#tab tbody tr td:nth-child(4) input:nth-child(2) {
	width: 72px;
	height: 36px;
	text-align: center;
	outline: none;
	border: 1px solid #E0E0E0;
	border-left: none;
	border-right: none;
}


/*设置小计的宽度*/

#tab tbody tr td:nth-child(5) {
	width: 200px;
}


/*设置操作*/

#tab tbody tr td:nth-child(6) input {
	width: 20px;
	height: 20px;
	background-color: white;
	font-size: 12px;
	border-radius: 50%;
	outline: none;
	border: none;
}

#tab tbody tr td:nth-child(6) input:hover {
	width: 20px;
	height: 20px;
	background-color: #E53935;
	border: 1px solid #E53935;
	border-radius: 50%;
	color: white;
	outline: none;
	cursor: pointer;
}

i {
	width: 21px;
	height: 21px;
	box-sizing: border-box;
	/*固定宽度*/
	border: 1px solid #e0e0e0;
	display: block;
	margin: 10px 0px;
}

i:hover {
	border: 0px;
	background: url(../img/cart/hover.png) center center no-repeat;
}

i.active {
	border: 0px;
	background: url(../img/cart/active.png) center center no-repeat;
}

#col-row-1 {
	border-right: 0px;
}

#word-allCheck {
	border-left: 0px;
}

tr td:nth-child(4) input {
	float: left;
}


/*购物车结束*/