	.container {
		width: 1226px;
		margin: 0px auto;
		/*border: 1px solid;*/
		/*background-color: white;*/
	}
	
	#footer {
		margin-top: 40px;
	}
	
	#footer-service {
		border-bottom: 1px solid #E0E0E0;
		padding: 27px 0px;
		overflow: hidden;
	}
	
	#footer-service li {
		width: 242px;
		height: 25px;
		text-align: center;
		border-right: 1px solid #E0E0E0;
		float: left;

	}
	
	#footer-service li:nth-child(5) {
		border: none;
	}
	
	#footer-service li a {
		display: block;
		color: #616161;
		/*border: 1px solid;*/
		
	}
	
	#footer-service li a:hover {
		color: #FF6700;
	}
	/*添加背景图*/
	
	/*#footer-service .fix-service a{
		background: url(../img/footer/fixService.png) 40px -1px no-repeat;
		background-size: 25px 25px;
	}
	#footer-service .fix-service a:hover{
		background: url(../img/footer/fixSeviceHover.png) 40px -1px no-repeat;
		background-size: 30px 30px;
	}*/
	/*footer-service结束*/
	
	#footer-links {
		padding-top: 40px;
	}
	
	#footer-links .col-links {
		float: left;
		width: 160px;
		/*height: 112px;*/
	}
	
	.col-links dt {
		font-size: 17px;
		margin-bottom: 26px;
	}
	
	.col-links dd {
		margin-bottom: 10px;
	}
	
	.col-links dd a {
		font-size: 14px;
		color: #818181;
	}
	
	.col-links dd a:hover {
		color: #FF753F;
	}
	
	.col-contact {
		float: right;
		width: 251px;
		height: 130px;
		border-left: 1px solid #E0E0E0;
		text-align: center;
	}
	
	.phone {
		font-size: 22px;
		color: #FF6700;
	}
	
	.J_serviceTime-normal {
		margin-top: 5px;
		font-size: 12px;
		color: #6F6F6F;
	}
	
	.btn24hour {
		margin-top: 20px;
	}
	
	.btn24hour a {
		display: inline-block;
		width: 122px;
		height: 32px;
		background: url(../img/homepage/kefu.png) center center no-repeat;
	}
	
	.btn24hour a:hover {
		background: url(../img/homepage/kefu-hover.png) center center no-repeat;
	}
	
	#footer-info {
		padding: 30px 0px;
		overflow: hidden;
		font-size: 12px;
		background-color: #FAFAFA;
	}
	
	#footer-info .logo {
		float: left;
	}
	
	.info-text {
		float: left;
		margin-left: 20px;
	}
	
	.info-text .sites li {
		float: left;
		border-right: 1px solid #B0C0D7;
		padding: 0px 5px;
	}
	
	.info-text .sites li:nth-child(1) {
		padding: 0px 5px 0px 0px;
	}
	
	.info-text .sites li:nth-child(12) {
		border: none;
	}
	
	.info-text .sites li a {
		font-size: 12px;
		color: #757981;
	}
	
	.info-text .sites li a:hover {
		color: #FE743E;
	}
	
	#footer-info .info-links {
		float: right;
	}
	
	.info-links img {
		width: 85px;
		height: 28px;
		margin-left: 7px;
	}
	
	.accuse-info {
		margin-top: 5px;
		color: #B4B4B4;
	}
	
	.accuse-info a {
		color: #B4B4B4;
	}
	
	.accuse-info a:hover {
		color: #FF6717;
	}
	
	.last {
		width: 267px;
		height: 19px;
		margin: 30px auto;
		color: #CECECE;
		font-family: "仿宋";
		font-size: 19px;
	}